* {
    padding: 0px;
    margin: 0px;
}
span.input_prompt {
    color:blue;
    font-family: monospace;
    font-size:12pt;
    float: left;
    clear: left;
}
span.output_prompt {
    color:red;
    /*display:none;*/
    clear: left;
    font-family: monospace;
    font-size:12pt;
    float: left;
}
div.output_delimiter {
    height: 3px;
    clear: left;
}
span.cell_output {
    color: #0000AA;
    font-size: 12pt;
    float: left;
    position: relative;
    left: 8px;
}
pre.shrunk {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.disabled {
  display:none;
}
div.cell {
  width: 100%;
  float: left;
  clear: left;
}

div.insert_new_cell {
    height:6px;
    margin:3px;
    width: 100%;
}

div.insert_new_cell:hover {
    background-color:#8888FE;
    margin:3px;
    width: 100%;
}

textarea.cell_input {
  color:#000000;
  background-color: white;
  border: 1px solid  #a8a8a8;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:6px;
  padding-top:4px;
  padding-bottom:4px;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  float: left;
}

textarea.cell_input_active {
  background-color: white;
  border: 2px solid #8888FE;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:4px;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  float: left;
}

a.eval_button {
  top: 2px;
  margin:0px;
  padding:0px;
  font-size:10pt;
  float: left;
  clear: left;
  position: relative;
  left: 72px;
}

div.menu {
    padding: 5px;
}

div.menu a {
    color: blue;
    font-size: 10pt;
}

div.cell {
    border: 2px solid  #a8a8a8;
    margin: 10px;
    width: 800px;
}

div.cell_title {
    color: gray;
    font-size:10pt;
    margin: 5px;
}

div.cell_input {
    color: black;
    font-size:12pt;
    margin: 10px;
    border: 1px solid  #a8a8a8;
}

div.cell_output {
    color: black;
    font-size:12pt;
    margin: 10px;
    border: 1px solid  #a8a8a8;
}

div.input {
    text-align: center;
    width: 450px;
    margin: 40px auto;
}

div.input input[type="text"] {
    width: 400px;
}
