@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Gentium Book Basic', serif;
}

h1 {
  font-weight: normal;
  color: #3B5526;
}

div.menu {
  padding: 2px 8px;
  border-bottom: 1px solid #C9D7F1;
}

div.menu a {
  color: blue !important;
  font-size: 10pt;
  font-family: arial, sans-serif;
  margin-right: 0.5em;
}

div.menu a.selected {
  color: black !important;
  text-decoration: none;
  font-weight: bold;
}

div.result {
  width: 600px;
  margin: 10px auto;
}

div.result_card {
  border: 2px solid #a8a8a8;
  margin: 10px;
  background: #FFF;
}

div.card_title {
  font-size: 12pt;
  margin: 5px;
  color: #3B5526;
}

div.cell_input {
  color: black;
  font-size:12pt;
  margin: 10px;
  border: 1px solid  #a8a8a8;
}

div.cell_output {
  color: black;
  font-size: 12pt;
  margin: 10px;
  border: 1px solid  #a8a8a8;
}

div.input {
  text-align: center;
  width: 550px;
  margin: 40px auto;
}

div.input input[type="text"] {
  margin: 20px auto;
  width: 500px;
}

div.foot {
  text-align: center;
  font-size: 10pt;
}

h2 {
  padding: 10px 8px;
}

h3 {
  padding: 5px 8px;
}

p {
  padding: 0px 8px;
}
