* {
    padding: 0px;
    margin: 0px;
}
iframe {
    display: none;
}
span.input_prompt {
    color:blue;
    font-family: monospace;
    font-size:12pt;
    float: left;
    clear: left;
}
span.output_prompt {
    color:red;
    /*display:none;*/
    clear: left;
    font-family: monospace;
    font-size:12pt;
    float: left;
}
div.output_delimiter {
    height: 3px;
    clear: left;
}
span.cell_output {
    color: #0000AA;
    font-size: 12pt;
    float: left;
    position: relative;
    left: 8px;
}
pre.shrunk {
    margin-top: 0px;
    margin-bottom: 0px;
}
div.disabled {
  display:none;
}
div.cell {
  width: 100%;
  float: left;
  clear: left;
}

div.insert_new_cell {
    height:6px;
    margin:3px;
    width: 100%;
}

div.insert_new_cell:hover {
    background-color:#8888FE;
    margin:3px;
    width: 100%;
}

textarea.cell_input {
  color:#000000;
  background-color: white;
  border: 1px solid  #a8a8a8;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:6px;
  padding-top:4px;
  padding-bottom:4px;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  float: left;
}

textarea.cell_input_active {
  background-color: white;
  border: 2px solid #8888FE;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:4px;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  float: left;
}

a.eval_button {
  top: 2px;
  margin:0px;
  padding:0px;
  font-size:10pt;
  float: left;
  clear: left;
  position: relative;
  left: 72px;
}

div.menu {
    padding: 2px 8px;
}

div.menu a {
    color: blue !important;
    font-size: 10pt;
    font-family: arial, sans-serif;
    margin-right: 0.5em;
}

div.menu a.selected {
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

div.menu span.user {
    float: right;
    text-decoration: none;
}

div.menu span.user span.email {
    color: black !important;
    font-size: 10pt;
    font-family: arial, sans-serif;
    font-weight: bold;
    margin-right: 0.5em;
    text-decoration: none;
}

div.menu span.user a {
    margin-left: 0.5em;
}

div.gbh {
    border-top-color:#C9D7F1;
    border-top-style:solid;
    border-top-width:1px;
    font-size:1px;
    height:0;
    position:absolute;
    top:24px;
    width:100%;
}

div.result {
    width: 600px;
    margin: 10px auto;
}

div.cell1 {
    border: 2px solid  #a8a8a8;
    margin: 10px;
}

div.cell_title {
    color: gray;
    font-size:10pt;
    margin: 5px;
}

div.cell_input {
    color: black;
    font-size:12pt;
    margin: 10px;
    border: 1px solid  #a8a8a8;
}

div.cell_output {
    color: black;
    font-size:8pt;
    margin: 10px;
    border: 1px solid  #a8a8a8;
}

div.input {
    text-align: center;
    width: 550px;
    margin: 40px auto;
}

div.input input[type="text"] {
    margin: 20px auto;
    width: 500px;
}

div.foot {
    text-align: center;
    font-size: 10pt;
}

h2 {
    padding: 10px 8px;
}

h3 {
    padding: 5px 8px;
}

p {
    padding: 0px 8px;
}

span.field {
    font-weight: bold;
}
