div.prompt {
    color:blue;
}
div.disabled {
  display:none;
}

textarea.cell_input {
  color:#000000;
  background-color: white;
  border-left: 1px solid  #a8a8a8;
  border-bottom: 1px solid  #a8a8a8;
  border-top: 1px solid  #a8a8a8;
  border-right: 1px solid  #a8a8a8;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:0px;
  width: 97%;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
}

a.eval_button_dis {
  display:none;
}

a.eval_button {
  display: block;
  position: relative;
  top: 2px;
  margin:0px;
  padding:0px;
  font-size:10pt;
}
