span.prompt {
    color:blue;
}
div.disabled {
  display:none;
}

div.insert_new_cell {
    display:block;
    height:6px;
    margin:3px;
}

div.insert_new_cell:hover {
    background-color:#8888FE;
    margin:3px;
}

textarea.cell_input {
  color:#000000;
  background-color: white;
  border: 1px solid  #a8a8a8;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:6px;
  padding-top:4px;
  padding-bottom:0px;
  width: 94%;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  height: 31px;
}

textarea.cell_input_active {
  background-color: white;
  border: 2px solid #8888FE;
  font-family: monospace;
  font-size:12pt;
  overflow:hidden;
  padding-left:5px;
  padding-top:3px;
  padding-bottom:0px;
  width: 94%;
  margin-bottom:0px;
  margin-top:0px;
  line-height:1.2em;
  height: 31px;
}

a.eval_button {
  display:none;
}

a.eval_button_active {
  display: block;
  position: relative;
  top: 2px;
  margin:0px;
  padding:0px;
  font-size:10pt;
}
