@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic&text=Sympy%20Live);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  background-color: #EEE;
}

pre, ul, button, h2, h3, h4, input, label {
  margin: 0;
  padding: 0;
}

pre {
  font-family: "Droid Sans Mono", monospace;
}

h1 {
  font-family: 'Gentium Basic', serif;
  font-weight: normal;
  color: #FFF;
  margin: 0;
}

h1 a:link, h1 a:visited, h1 a:active {
  color: #FFF;
  text-decoration: none;
}

h1 a:hover {
  color: #96C56F;
}

h1 a img {
  vertical-align: bottom;
}

.menu {
  padding: 0 0.5em;
  font-family: sans-serif;
  border-bottom: 1px solid #81B953;
  background: #3C4932;
}

.menu a:link, .menu a:visited, .menu a:active {
  color: #BBB;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  margin-right: 0.5em;
}

.menu a:hover {
  color: #DDD;
}

.menu a.selected {
  color: #FFF !important;
  text-decoration: none;
}

.result_card {
  margin: 10px;
  padding: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.result_card.result_card_error {
  border: 2px solid #F33;
  opacity: 0.7;
}

/* Highlight position of a syntax error */
.result_card_error .cell_output_plain span:first-child {
  border-right: 1px solid #F33;
}

.card_title {
  font-size: 12pt;
}

.cell_input {
  color: black;
  margin: 0.25em 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cell_output {
  color: black;
  border-top: 1px solid  #a8a8a8;
  padding: 0.25em 0;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  font-family: 'Droid Sans Mono', monospace;
  text-align: center;
}

.cell_output .cell_pre_output {
  text-align: left;
}

.cell_output table {
  border-collapse: collapse;
  border: 1px solid #000;
  margin: auto;
}

.cell_output td, .cell_output th {
  border: 1px solid #000;
  padding: 0.25em 0.5em;
}

.cell_output ul {
  list-style-type: none;
}

.result_card .card_options_toggle {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.result_card .card_options {
  border-top: 1px solid #a8a8a8;
  font-size: 1em;
}

.result_card .card_options h2 {
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0;
}

.result_card .card_options label {
  margin-left: 0.25em;
}

.input {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  background: #3B5526;
}

.input form {
  margin: 0 auto;
  margin-top: 20px;
  width: 580px;
}

.input input[type="text"] {
  font-family: 'Droid Sans Mono', monospace;
  width: 82%;
  height: 1.5em;
  font-size: 1.25em;
  padding: 0 0.25em;
  border: 0;
  vertical-align: top;
  border-radius: 0;
}

.input input[type="submit"] {
  border-radius: 0;
  vertical-align: top;
  font-family: 'Droid Sans Mono', monospace;
  width: 15%;
  height: 1.5em;
  font-size: 1.25em;
  color: #FFF;
  border: 0;
  background-color: #96C56F;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96C56F), color-stop(100%, #81B953));
  background-image: -webkit-linear-gradient(top, #96C56F, #81B953);
  background-image: -moz-linear-gradient(top, #96C56F, #81B953);
  background-image: -ms-linear-gradient(top, #96C56F, #81B953);
  background-image: -o-linear-gradient(top, #96C56F, #81B953);
  background-image: linear-gradient(top, #96C56F, #81B953);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#96C56F, endColorstr=#81B953);
}

.input input[type="submit"]:hover {
  background-color: #7bb64b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bb64b), color-stop(100%, #689a3f));
  background-image: -webkit-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -moz-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -ms-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -o-linear-gradient(top, #7bb64b, #689a3f);
  background-image: linear-gradient(top, #7bb64b, #689a3f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7bb64b, endColorstr=#689a3f);
}

#mobile-keyboard {
  display: none;
}

#mobile-keyboard button {
  color: #FFF;
  border: 0;
  display: inline-block;
  border-left: 1px solid #3B5526;
  background-color: #96C56F;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96C56F), color-stop(100%, #81B953));
  background-image: -webkit-linear-gradient(top, #96C56F, #81B953);
  background-image: -moz-linear-gradient(top, #96C56F, #81B953);
  background-image: -ms-linear-gradient(top, #96C56F, #81B953);
  background-image: -o-linear-gradient(top, #96C56F, #81B953);
  background-image: linear-gradient(top, #96C56F,
  #81B953);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#96C56F, endColorstr=#81B953);
}

#mobile-keyboard button:hover {
  background-color: #7bb64b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bb64b), color-stop(100%, #689a3f));
  background-image: -webkit-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -moz-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -ms-linear-gradient(top, #7bb64b, #689a3f);
  background-image: -o-linear-gradient(top, #7bb64b, #689a3f);
  background-image: linear-gradient(top, #7bb64b, #689a3f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7bb64b, endColorstr=#689a3f);
}


.foot {
  text-align: center;
  font-size: 10pt;
}

/* Main page columns (saved and example queries) */

.main {
  line-height: 1.15em;
}

.main p {
  font-size: 80%;
  margin: 0;
  padding: 0;
}

.col h2 {
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

.col ul {
  list-style-type: none;
}

.col.recent li {
  margin: 0.5em 0;
  border-bottom: 1px solid #a8a8a8;
  font-size: 80%;
}

.col.recent a:link, .col.recent a:visited,
.col.recent a:hover, .col.recent a:active {
  text-decoration: none;
  color: #3B5526;
  width: 70%;
  display: inline-block;
  font-family: 'Droid Sans Mono', monospace;
}

.col.recent a.remove {
  width: auto;
  float: right;
  display: none;
}

.col.recent li:hover a.remove {
  display: block;
}

.example-group {
  margin: 0.5em 0;
  font-size: 80%;
}

.example-group h3 {
  font-weight: normal;
  padding: 0;
  border-bottom: 1px solid #a8a8a8;
  cursor: pointer;
}

.example-group h4 {
  font-weight: normal;
  margin-top: 0.5em;
}

.example-group h3:before {
  content: "▸ ";
}

.example-group h3.shown:before {
  content: "▾ ";
}

.example-group li {
  margin: 0 1em;
}

.example-group a:link, .example-group a:visited,
.example-group a:hover, .example-group a:active, a#random-example {
  text-decoration: none;
  color: #3B5526;
  font-family: 'Droid Sans Mono', monospace;
}

.example-group li > span {
  display: inline-block;
  float: right;
  font-style: italic;
}

#random-example, #clear-all-recent {
  font-size: 80%;
}

/* General styling */

h2 {
  padding: 10px 8px;
}

h3 {
  padding: 5px 8px;
}

p {
  padding: 0px 8px;
}

button {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

/* Graphs */

.graph {
  max-width: 400px;
  height: 275px;
  margin: 1em auto;
  border: 1px solid #CCC;
  padding: 10px;
}

.graph:hover {
  border: 1px solid #000;
}

svg {
  cursor: all-scroll;
}

/* Factorization diagrams */

.factorization-diagram p {
  text-align: left;
  font-family: 'Gentium Book Basic', serif;
  font-size: smaller;
}

/* Loading PNG */

.loader {
  width: 32px;
  height: 32px;
  background-size: 256px 32px;
  background-image: url(/static/images/loader.png);
  margin: auto;

  -webkit-animation: loader .8s steps(8) infinite;
  -moz-animation: loader .8s steps(8) infinite;
  -ms-animation: loader .8s steps(8) infinite;
  -o-animation: loader .8s steps(8) infinite;
  animation: loader .8s steps(8) infinite;
}

@-webkit-keyframes loader {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@-moz-keyframes loader {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@-ms-keyframes loader {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@-o-keyframes loader {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@keyframes loader {
   from { background-position:    0px; }
     to { background-position: -256px; }
}

@media screen and (max-device-width: 640px) {
  .menu {
    padding: 0.25em 0.5em;
  }
  
  .menu a {
    font-size: 1.25em;
  }

  .result_card {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid #DDD;
    border-radius: 2px;
    margin: 3px;
    padding: 5px;
  }
  
  .col {
    width: auto;
    margin: 10px 10px;
    font-size: 125%;
  }

  .col.recent a.remove {
    display: inline-block;
  }

  .col.example .example-group li {
    margin: 0.25em 0;
  }

  .col.example .example-group li > span {
    display: block;
    float: none;
    padding-top: 0.25em;
  }

  .col.example .example-group li > span:after {
    content: ":";
  }
  
  .input form {
    margin: 0 auto;
    margin-top: 10px;
    width: auto;
  }

  .input input[type="text"] {
    margin: 0 auto;
    width: 90%;
  }

  .input input[type="submit"] {
    width: 50%;
    height: 150%;
    line-height: 150%;
  }

  input {
    border-radius: 0;
  }

  .result {
    width: 100%;
    margin: 10px auto;
  }

  .menu_right {
    display: inline;
  }

  #mobile-keyboard button {
    width: 2em;
    font-size: 1.25em;
  }
}

/* Tablets and base for desktops */
@media screen and (min-device-width: 768px) {
  .result {
    width: 600px;
    margin: 10px auto;
  }

  .main {
    width: 740px;
    margin: 10px auto;
  }
  
  .col {
    width: 360px;
  }

  .col.recent {
    float: left;
    height: 100%;
  }

  .col.recent a.remove {
    display: inline-block;
  }

  .col.example {
    margin: auto;
  }

  .col.recent~.col.example {
    float: right;
    height: 100%;
  }

  .col.example div.example-group li {
    margin: 0.25em 0;
  }

  .col.example .example-group li > span {
    display: block;
    float: none;
  }

  .col.example .example-group li > span:after {
    content: ":";
  }

  .menu_right {
    float: right;
    display: block;
  }

  #mobile-keyboard button {
    width: 3em;
    font-size: 1.5em;
  }
}

@media screen and (min-device-width: 1280px) {
  .main {
    width: 800px;
    margin: 10px auto;
  }

  .col {
    width: 390px;
  }

  .col.example .example-group li {
    margin: 0;
  }

  .col.example .example-group li > span {
    display: block;
    float: right;
  }

  .col.example .example-group li > span:after {
    content: "";
  }

  .col.recent a.remove {
    display: none;
  }
}