{% extends "base.html" %}

{% block title %}
SymPy Gamma
{% endblock %}

{% block content %}
    <h2>SymPy Gamma</h2>
    <p>
    Developed by the SymPy Development Team.
    </p>
    <h3>Development version</h3>
    <p>Source code: <a href="http://github.com/certik/sympy_gamma/">http://github.com/certik/sympy_gamma</a></p>
    <p>License: BSD</p>
    <p>Web: <a href="http://2.latest.sympy-gamma.appspot.com/">http://gamma.sympy.org/</a></p>
    <br/>
    <p>Made using <a href="http://sympy.org/">SymPy</a>, <a href="http://djangoproject.com">Django</a> and <a
      href="http://pyjs.org/">Pyjamas</a>.</p>
{% endblock %}
