<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        {% block head_additional %}{% endblock %}

        <link rel="search" type="application/opensearchdescription+xml"
              href="{{ MEDIA_URL }}opensearch.xml" title="SymPy Gamma" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"
                type="text/javascript"></script>
        <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/base.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/card.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/plot.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/factordiagram.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/doc.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/gamma.js" type="text/javascript"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                jax: ["input/TeX", "output/HTML-CSS"],
                TeX: {
                    extensions: ["AMSmath.js", "AMSsymbols.js", "noErrors.js", "noUndefined.js"]
                },
                "HTML-CSS": {
                    minScaleAdjust: 100
                },
                menuSettings: {
                    context: "MathJax",
                    zoom: "Hover",
                    ALT: trueg
                },
                MathZoom: {
                    delay: 100
                },
                extensions: ["tex2jax.js"]
            });
        </script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML-full"></script>
    </head>
    <body>
        <div class="menu">
            <a class="{{ main_active }}" href="/">Main</a>
            <a class="{{ about_active }}" href="/about/">About</a>
            <a href="http://live.sympy.org">SymPy Live</a>

            <div class="menu_right">
                <a href="{{ auth_url }}">{{ auth_message }}</a>
            </div>
        </div>
        <div class="gbh" style="left: 0px; opacity: 1; "></div>
    {% block content %}
    {% endblock %}
    <div id="footer">
        <p>
        SymPy Gamma version {{ app_version }}, deployed on {{ app_deployed }}.
        </p>

        <p>
        &copy; 2013 SymPy Development Team. This project is
        open-source: <a href="https://github.com/sympy/sympy_gamma/">
            SymPy Gamma on Github</a>.
        </p>
    </div>
    </body>
</html>
