{% extends "base.html" %}
{% load extra_tags %}
{% block title %}
SymPy Gamma
{% endblock %}

{% block content %}
    <div class="input">
        <h1><a href="/">
                <img src="{{ MEDIA_URL }}/images/logo.png"
                     alt="SymPy Gamma logo" width="50" height="33" />
                SymPy Gamma
        </a></h1>
        <form action="/input/" method="GET">
            {{ form.i }}<input class="input_field" type="submit" value="=" />
        </form>
    </div>

    <div class="main">
        {% if history %}
        <div class="col recent">
            <h2>Recent queries</h2>
            <a href="#" id="clear-all-recent">Clear All</a>
            <ul>
                {% for query in history %}
                <li>
                    <a href="{% make_query query.text %}">{{ query.text }}</a>
                    <a href="/user/remove/{{query.key.urlsafe}}" class="remove">remove</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="col example">
            <h2>Examples</h2>
            <a href="#" id="random-example">Random Example</a>
            
            <div class="example-group">
                <h3>Arithmetic</h3>

                <div class="contents">
                    <h4>Fractions</h4>
                    <ul>
                        <li>{% make_query_link '242/33' %}
                            <span>Simplify fractions</span></li>
                        <li>{% make_query_link '0.[123]' %}
                            <span>Rationalize repeating decimals</span></li>
                    </ul>

                    <h4>Approximations</h4>
                    <ul>
                        <li>{% make_query_link 'pi' %}</li>
                        <li>{% make_query_link 'E' %}</li>
                        <li>{% make_query_link 'exp(pi)' %}</li>
                    </ul>
                </div>
            </div>

            <div class="example-group">
                <h3>Algebra</h3>
                
                <div class="contents">
                    <ul>
                        <li>{% make_query_link 'x' %}</li>
                        <li>{% make_query_link '(x+2)/((x+3)(x-4))' %}</li>
                        <li>{% make_query_link 'simplify((x**2 - 4)/((x+3)(x-2)))' %}</li>
                    </ul>
                </div>
                
                <div class="contents">
                    <h4>Polynomial and Rational Functions</h4>
                    <ul>
                        <li>{% make_query_link 'div(x**2 - 4 + x, x-2)' %}
                            <span>Polynomial division</span></li>
                        <li>{% make_query_link 'gcd(2*x**2 + 6*x, 12*x)' %}
                            <span>Greatest common divisor…</span></li>
                        <li>{% make_query_link 'lcm(2*x**2 + 6*x, 12*x)' %}
                            <span>…and least common multiple</span></li>
                        <li>{% make_query_link 'factor(x**4/2 + 5*x**3/12 - x**2/3)' %}
                            <span>Factorization</span></li>
                        <li>{% make_query_link 'factor(x**2 + 4*x*y + 4*y**2)' %}
                            <span>Multivariate factorization</span></li>
                        <li>{% make_query_link 'solve(x**2 + 4*x*y + 4*y**2)' %}
                            <span>Symbolic roots</span></li>
                        <li>{% make_query_link 'solve(x**2 + 4*x*y + 4*y**2, y)' %}</li>
                        <li>{% make_query_link 'solve(x**2 + 4*x + 181, x)' %}
                            <span>Complex roots</span></li>
                        <li>{% make_query_link 'solve(x**3 + 4*x + 181, x)' %}
                            <span>Irrational roots</span></li>
                        <li>{% make_query_link 'solve_poly_system([y**2 - x**3 + 1, y*x], x, y)' %}
                            <span>Systems of equations</span></li>
                    </ul>
                </div>
            </div>
            
            <div class="example-group">
                <h3>Trigonometry</h3>
                
                <div class="contents">
                    <ul>
                        <li>{% make_query_link 'sin(2*x)' %}</li>
                        <li>{% make_query_link 'tan(1 + x)' %}</li>
                    </ul>
                </div>
            </div>
            
            <div class="example-group">
                <h3>Calculus</h3>
                
                <div class="contents">
                    <h4>Limits</h4>
                    <ul>
                        <li>{% make_query_link 'limit(tan(x), x, pi/2)' %}</li>
                        <!-- TODO: sympify() doesn't parse keyword arguments -->
                        <li>{% make_query_link 'limit(tan(x), x, pi/2, "-")' %}</li>
                    </ul>
                </div>
                
                <div class="contents">
                    <h4>Derivatives</h4>
                    <ul>
                        <li>{% make_query_link 'diff(f(x)*g(x)*h(x))' %}
                            <span>Derive the product rule</span></li>
                        <li>{% make_query_link 'diff(f(x)/g(x))' %}
                            <span>…as well as the quotient rule</span></li>
                    </ul>
                </div>
                
                <div class="contents">
                    <h4>Integrals</h4>
                    <ul>
                        <li>{% make_query_link 'integrate(tan(x))' %}</li>
                        <li>{% make_query_link 'integrate(2*x + y, y)' %}
                            <span>Multiple variables</span></li>
                        <li>{% make_query_link 'integrate(2*x + y, (x, 1, 3))' %}
                            <span>Limits of integration</span></li>
                        <li>{% make_query_link 'integrate(tan(x), (x, 0, pi/2))' %}
                            <span>Improper integrals</span></li>
                        <li>{% make_query_link 'integrate(1/(x**2 + 1), (x, 0, oo))' %}
                            <span>Exact answers</span></li>
                    </ul>
                </div>
                
                <div class="contents">
                    <h4>Series</h4>
                    <ul>
                        <li>{% make_query_link 'series(sin(x), x, pi/2)' %}</li>
                    </ul>
                </div>
            </div>
            
            <div class="example-group">
                <h3>Number Theory</h3>
                
                <div class="contents">
                    <ul>
                        <li>{% make_query_link '1006!' %}</li>
                        <li>{% make_query_link 'factorint(12321)' %}</li>
                        <li>{% make_query_link 'prime(42)' %}
                            <span>Calculate the 42<sup>nd</sup>
                            prime</span></li>
                        <li>{% make_query_link 'primepi(42)' %}
                            <span>
                                Calculate \( \varphi(x) \), the Euler
                                totient function
                            </span>
                        </li>
                        <li>{% make_query_link 'isprime(42)' %}</li>
                        <li>{% make_query_link 'nextprime(42)' %}
                            <span>First prime after 42</span></li>
                    </ul>
                </div>
            </div>
        </div>

        … and more: see
        the <a href="http://docs.sympy.org">documentation</a> to learn about
        the full range of SymPy's capabilities.
    </div>
{% endblock %}
