{% extends "base.html" %}
    {% block head_additional %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    {% endblock %}
    {% block title %}
    SymPy Gamma
    {% endblock %}

    {% block content %}
        <div class="input">
            <h1><a href="/">SymPy Gamma</a></h1>
        </div>
        <div class="result">
            <h2>Oops!</h2>
            <p>Looks like we've had a
            problem...Please <a href="https://github.com/sympy/sympy_gamma/issues">report
            the issue to us</a> so we can fix it!</p>
        </div>
    {% endblock %}
