{% extends "base.html" %}

{% block title %}
SymPy Gamma
{% endblock %}

{% block content %}
<div class="result">
    <h2>SymPy Gamma</h2>
    <p>
    Copyright &copy; 2013-{{ current_year }} SymPy Development Team.
    </p>
    <h3>Development version</h3>
    <p>Source code: <a href="https://github.com/sympy/sympy_gamma/">
            https://github.com/sympy/sympy_gamma/</a></p>
    <p>License: BSD</p>
    <p>Web: <a href="http://www.sympygamma.com/">http://www.sympygamma.com/</a></p>
    <br/>
    <p>Made using <a href="https://sympy.org/">SymPy</a>,
        <a href="http://djangoproject.com">Django</a>
      and <a href="http://d3js.org/">D3.js</a>. The logic behind the
      <a href="/input/?i=112">factorization diagrams</a> comes
      from <a href="http://mathlesstraveled.com/2012/10/05/factorization-diagrams/">
            a post by Brent Yorgey</a>
      (<a href="http://mathlesstraveled.com/license/">licensing
      terms</a>).</p>
</div>
{% endblock %}
